<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<configSections>
		<section name="MsmqTransportConfig" type="NServiceBus.Config.MsmqTransportConfig, NServiceBus.Core" />
		<section name="DomainEventBusConfig" type="AgileWorkshop.Cqrs.NServiceBus.DomainEventBusConfig, AgileWorkshop.Cqrs.NServiceBus"/>
		<section name="Logging" type="NServiceBus.Config.Logging, NServiceBus.Core" />
	</configSections>

	<DomainEventBusConfig>
		<DomainEventEndpointMappings>
			<add DomainEvents="Inventory.Events" Endpoint="MyWebClient"/>
		</DomainEventEndpointMappings>
	</DomainEventBusConfig>

	<Logging Threshold="ALL" />

	<MsmqTransportConfig
    InputQueue="Inventory.NServiceBus.EventHandlers.input"
    ErrorQueue="Inventory.NServiceBus.EventHandlers.error"
    NumberOfWorkerThreads="1"
    MaxRetries="1" />

</configuration>